< !DOCTYPE html><html><head><style>html {
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: arial;
}

#test {
    background-color: aqua;
    color: black;
    font-size: 25px;
    text-align: justify;
}

</style></head>